body {
	background-image : url("5940110865_e5f6db708a_b.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-color: black;
}
h1 {
	color : #6DA5C0;
}
P {
	color : whitesmoke;
}
a {
	background-color : dimgrey;
	color : whitesmoke;
}
a:hover {
	background-color : whitesmoke;
	color : #1B3358;
}
div.midbox{
	background-color: #393F3D;
}
section.midbox{
		background-color: #393F3D;
}
div.gg{
	background-color: #565E5B;
}
nav{
	 background-image: url("footer.jpg");}

table{
	background-color: #747D7B;
}
.box{
	background-color: #393F3D;
}